* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(px2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
}

body {
  text-decoration-color: aliceblue;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: rgb(32, 32, 26);
  text-align: center;
  font-size: 28px;
  font-family: "Lobster", cursive;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-container input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.search-container select {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.movie {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
  width: 200px;
}

.movie img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30px;
  height: auto;
}

.movie h3 {
  margin-top: 10px;
  font-size: 16px;
  color: azure;
}

.movie p {
  margin-top: 5px;
  font-size: 14px;
}

.grid-container {
  padding: 0 20px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
}

@media (max-width: 576px) {
  main {
    grid-template-columns: auto;
  }
}

.grid-container > div {
  text-align: center;
}
